ipykernel
pandas
numpy
matplotlib
plotly
seaborn
scikit-learn
pymongo
from_root
dill
certifi
PyYAML
boto3
mypy-boto3-s3
botocore
fastapi>=0.110.0,<0.120.0
python-multipart
uvicorn
jinja2
imblearn
-e .